################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Balan.EventSourcing.Persistance/v16/Server/sqlite3
/.vs/cosmosdb-eventsourcing/v16/.suo
/.vs
/Balan.EventSourcing/obj
/Balan.EventSourcing.Abstractions/bin/Debug/netstandard2.0
/Balan.EventSourcing.Abstractions/obj
/Balan.EventSourcing.Persistance.CosmosDb/obj
/Balan.EventSourcing.Serialization.Json/obj
/Balan.EventSourcing/bin/Debug/netstandard2.0
/Balan.EventSourcing.Persistance.CosmosDb/bin/Debug/netstandard2.0
/EventSourcing.Sample.Domain/bin/Debug/netstandard2.0
/EventSourcing.Sample.Domain/obj
/EventSourcing.Sample.Events/bin/Debug/netstandard2.0
/Balan.EventSourcing.Serialization.Json/bin/Debug/netstandard2.0
/EventSourcing.Sample.Events/obj
/EventSourcing.Sample.Persistence/bin/Debug/netstandard2.0
/EventSourcing.Sample.Persistence/obj
/EventSourcing.Sample.Web.Api/bin/Debug/netcoreapp3.0
/EventSourcing.Sample.Web.Api/obj
